<body>
    <header></header>
    <main>
        <div class= "container">
            <div class ="title">
                <h1>おみくじアプリ</h1>
            </div>
            <div class="brank">　　
            </div>
            <div class = "button">
                <%= button_to "占う", {controller: "top", action: "fortune"}, {method: :get, class: "btn"}%>
            </div>
        </div>
        </main>
    <footer></footer>
</body>