div.container {
    
}

div.title {
    h1{
        color: #4169e1;
        text-align: center;
    }

}

div.button {
    text-align: center;
}

.btn {
    background-color: #4169e1;
    color:#f8f8ff;
    border: none;
}